@model CreateCategoryDto
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*  enctype="multipart/form-data" çok önemli! Resim gibi binary verilerin gönderimi için şart.
 *@

<div class="row">
    <div class="col-12">
        <div class="card m-4 p-3">
            <div class="card-body px-0 pt-0 pb-2">
                <form id="createCategoryForm" method="post" enctype="multipart/form-data">
                    <label>Category Name</label>
                    <input class="form-control" type="text" asp-for="CategoryName" />
                    <br />
                    <label>Category Description</label>
                    <input class="form-control" type="text" asp-for="CategoryDescription" />
                    <br />
                    <label>Category Image</label>
                    <input class="form-control" type="file" asp-for="CategoryImage" />
                    <br />
                    <button class="btn btn-primary" type="submit">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</div>

