@model List<ResultCategoryDto>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4 p-3">
            <div class="card-header pb-0">
                <h3 class="mb-5" style="text-align:center;">Categories</h3>

            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Category Name</th>
                                <th>Description</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CategoryId</td>
                                    <td>
                                        <div class="card flex align-items-center p-2" style="width: 6rem;">
                                            <img src="@item.CategoryImagePath" class="card-img-top" style="height:70px; ">
                                            <span class="text-center pt-1">@item.CategoryName</span>

                                        </div>
                                    </td>

                                    <td>@item.CategoryDescription</td>
                                    <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Delete</a></td>
                                    <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Update</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Category/CreateCategory" class="btn btn-primary">Add Category</a>

                </div>
            </div>
        </div>
    </div>
</div>