@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeaderPartial")
<body class="animsition m-0">

    <!-- Header -->
    @await Component.InvokeAsync("_MenuPartial")


    <!-- Slider -->
    @await Component.InvokeAsync("_SliderPartial")


    <!-- Banner -->
    @await Component.InvokeAsync("_FeaturePartial")

    <!-- Product -->
    @await Component.InvokeAsync("_ProductPartial", new { searchString = ViewData["currentFilter"]?.ToString() ?? "" })


    <!-- Footer -->
    @await Component.InvokeAsync("_FooterPartial")


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!-- Modal1 -->
  
    @await Component.InvokeAsync("_ProductModal1Partial")

    @await Component.InvokeAsync("_ScriptPartial")

</body>
</html>


<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["SuccessMessage"] != null)
{


    <script>
        Swal.fire({
            icon: 'success',
            title: 'Başarılı!',
            text: '@TempData["Success"]'
        });
    </script>
}
